version: '3.7'

services:
  db:
    image: conceptant/hapi-fhir
    ports:
      - "8080:8080"
  cql-exec:
  # TODO: CORS, Jetty version 9.4.14.v20181114
  # https://github.com/DBCG/cql_execution_service/blob/master/src/main/webapp/WEB-INF/web.xml
  # Error when calling through cql-runner:
  # Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://cql-exec:8081/cql/evaluate. (Reason: CORS request did not succeed).
  # Error when calling the service directly on http://localhost:8081/cql/evaluate:
  # The method received in the request-line is known by the origin server but not supported by the target resource.
  # https://github.com/DBCG/cql_execution_service
    build: https://github.com/DBCG/cql_execution_service.git
    ports:
      - "8081:8080" # still need to verify this
  cql-runner:
  # https://github.com/DBCG/cql_runner
    build:
      context: cql-runner
    ports:
      - "8082:4200"
    volumes:
      - ./cql-runner/environments:/cql_runner/src/environments
  synthea:
  # https://github.com/synthetichealth/synthea
  # https://synthetichealth.github.io/module-builder
    build:
      context: synthea
    environment:
      SYNTHEA_P: 2
      FHIR_SERVER_URL: http://db:8080/baseDstu3/
      WAIT_HOSTS: http://db:8080/baseDstu3/
      WAIT_TIMEOUT: 90
      WAIT_SLEEP_INTERVAL: 5
    volumes:
      - ./synthea/modules/:/synthea/src/main/resources/modules/
      - ./synthea/output/:/synthea/output/
  # TODO: create a graph
#  bootstrap:
  # TODO: